.contain-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 30px 0;
}
.works-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.contain-body{
    margin: auto;
}
.work-info{
    margin-left: 100px;
}
.home-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-info{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 35px;
    
}
@media screen and (max-width:665px) {
    .contain-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .works-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
    .work-info p, h2{
        align-items: center;
    }
}